a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
blockquote,
big,
body,
center,
canvas,
caption,
cite,
code,
command,
datalist,
dd,
del,
details,
dfn,
dl,
div,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
keygen,
label,
legend,
li,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
s,
samp,
section,
small,
span,
source,
strike,
strong,
sub,
sup,
table,
tbody,
tfoot,
thead,
th,
tr,
tt,
u,
ul,
var {
	background: transparent;
	border: 0 none;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: top;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased
}

blockquote,
q {
	quotes: none
}

table,
table td {
	padding: 0;
	border: none;
	border-collapse: collapse
}

img {
	border: 0
}

select {
	white-space: nowrap
}

caption {
	text-align: left
}

embed {
	vertical-align: top
}

div,
ul,
li,
ol,
dl,
dd,
p {
	word-wrap: break-word
}

ul,
li,
ol,
dl,
dd {
	list-style-type: none
}

input,
textarea,
select {
	font-family: inherit;
	outline: none;
	font-size: inherit;
	font-weight: inherit;
	padding: 0;
	margin: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: normal
}

body {
	text-align: left;
	color: #828282;
	overflow-x: hidden
}

html,
body {
	font: 10px/1.5 Microsoft YaHei, \5b8b\4f53, Arial, Verdana;
	width: 100%
}

a {
	text-decoration: none;
	white-space: nowrap;
	color: #828282
}

input,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="number"] {
	-webkit-appearance: none
}

input::-webkit-inner-spin-button {
	-webkit-appearance: none
}

input::-webkit-outer-spin-button {
	-webkit-appearance: none
}

@media (min-height: 640px) {
	html {
		font-size: 24px
	}
}

@media (min-height: 631px) and (max-width: 639px) {
	html {
		font-size: 23.66px
	}
}

@media (min-height: 622px) and (max-width: 630px) {
	html {
		font-size: 23.33px
	}
}

@media (min-height: 613px) and (max-width: 621px) {
	html {
		font-size: 23px
	}
}

@media (min-height: 604px) and (max-width: 612px) {
	html {
		font-size: 22.66px
	}
}

@media (min-height: 595px) and (max-width: 603px) {
	html {
		font-size: 22.33px
	}
}

@media (min-height: 586px) and (max-width: 594px) {
	html {
		font-size: 22px
	}
}

@media (min-height: 577px) and (max-width: 585px) {
	html {
		font-size: 21.66px
	}
}

@media (min-height: 568px) and (max-width: 576px) {
	html {
		font-size: 21.33px
	}
}

@media (min-height: 559px) and (max-width: 567px) {
	html {
		font-size: 21px
	}
}

@media (min-height: 550px) and (max-width: 558px) {
	html {
		font-size: 20.66px
	}
}

@media (min-height: 541px) and (max-width: 549px) {
	html {
		font-size: 20.33px
	}
}

@media (min-height: 533px) and (max-width: 540px) {
	html {
		font-size: 20px
	}
}

@media (min-height: 524px) and (max-width: 532px) {
	html {
		font-size: 19.66px
	}
}

@media (min-height: 515px) and (max-width: 523px) {
	html {
		font-size: 19.33px
	}
}

@media (min-height: 506px) and (max-width: 514px) {
	html {
		font-size: 19px
	}
}

@media (min-height: 497px) and (max-width: 505px) {
	html {
		font-size: 18.66px
	}
}

@media (min-height: 488px) and (max-width: 496px) {
	html {
		font-size: 18.33px
	}
}

@media (min-height: 480px) and (max-width: 487px) {
	html {
		font-size: 18px
	}
}

@media (min-height: 471px) and (max-width: 479px) {
	html {
		font-size: 17.66px
	}
}

@media (min-height: 462px) and (max-width: 470px) {
	html {
		font-size: 17.33px
	}
}

@media (min-height: 453px) and (max-width: 461px) {
	html {
		font-size: 17px
	}
}

@media (min-height: 444px) and (max-width: 452px) {
	html {
		font-size: 17.12px
	}
}

@media (min-height: 435px) and (max-width: 443px) {
	html {
		font-size: 16.33px
	}
}

@media (min-height: 426px) and (max-width: 434px) {
	html {
		font-size: 16px
	}
}

@media (min-height: 417px) and (max-width: 425px) {
	html {
		font-size: 15.66px
	}
}

@media (min-height: 408px) and (max-width: 416px) {
	html {
		font-size: 15.33px
	}
}

@media (min-height: 400px) and (max-width: 407px) {
	html {
		font-size: 15px
	}
}

@media (min-height: 391px) and (max-width: 399px) {
	html {
		font-size: 14.66px
	}
}

@media (min-height: 382px) and (max-width: 390px) {
	html {
		font-size: 14.33px
	}
}

@media (min-height: 374px) and (max-width: 381px) {
	html {
		font-size: 14px
	}
}

@media (min-height: 365px) and (max-width: 373px) {
	html {
		font-size: 13.66px
	}
}

@media (min-height: 356px) and (max-width: 364px) {
	html {
		font-size: 13.33px
	}
}

@media (min-height: 347px) and (max-width: 355px) {
	html {
		font-size: 13px
	}
}

@media (min-height: 338px) and (max-width: 346px) {
	html {
		font-size: 12.66px
	}
}

@media (min-height: 329px) and (max-width: 337px) {
	html {
		font-size: 12.44px
	}
}

@media (max-height: 328px) {
	html {
		font-size: 12px
	}
}


/*!
 * Animate.css -http://daneden.me/animate
 * Version - 3.4.0
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2015 Daniel Eden
 */

.animated2s {
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

.animated600 {
	-webkit-animation-duration: 0.6s;
	animation-duration: 0.6s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

.animated.infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite
}

.infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 1
	}
	50% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

@keyframes fadeIn {
	0% {
		opacity: 1
	}
	50% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn
}

@-webkit-keyframes pulse {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)
	}
	50% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.1, 1.1, 1.1)
	}
	to {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)
	}
}

@keyframes pulse {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)
	}
	50% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1);
		transform: scale3d(1.1, 1.1, 1.1)
	}
	to {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)
	}
}

.pulse {
	-webkit-animation-name: pulse;
	animation-name: pulse
}

html,
body {
	width: 100%;
	height: 100%
}

.wrap {
	position: relative;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #1d1b1c
}

.hide {
	display: none
}

.index {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 500;
	text-align: center;
	background: url(../imgs/load.png)no-repeat;
	background-size: cover;
	-webkit-background-size: cover
}


.video {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 99
}

.video video {
	width: 100%;
	height: 100%;
	object-fit: fill
}

.final {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1000;
	background: url(../imgs/end.gif) center center no-repeat;
	background-size: 100% 100%;
	-webkit-background-size: 100% 100%
}


.share {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 10001;
	background-color: rgba(0, 0, 0, 0.7)
}

.share img {
	position: absolute;
	height: 41%;
	top: 2%;
	right: 1.9047619048rem
}

.share .share-img-portrait {
	display: none;
	right: 0;
	left: 1.9047619048rem
}

@media all and (orientation: portrait) {
	.wrap>div {
		left: 100%;
		transform: rotate(90deg);
		-webkit-transform: rotate(90deg);
		transform-origin: 0 0;
		-webkit-transform-origin: 0 0
	}
	.wrap .share .share-img-portrait {
		display: inline-block
	}
	.wrap .share .share-img {
		display: none
	}
}


/*# sourceMappingURL=main.css.map */