* {
    margin: 0;
    padding: 0; }
body {
    -wibkid-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform-origin: 0 0;
    overflow: hidden;
    background: #000;
}
[v-cloak] {
    display: none;
}
ul li {
    list-style: none; }

div, img {
    -webkit-tap-highlight-color: rgba(240, 240, 240, 0); }

.ab {
    position: absolute; }

.re {
    position: relative;
}
.page {
    position: absolute;
    top : 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.page-load,.page1,.page3 {
    background: url("//img11.360buyimg.com/jdphoto/s1920x1080_jfs/t10438/266/2438657006/44286/eb8d87d8/59f6ee48N6988fde7.jpg");
    background-size: cover;
}
.page-load {
    display: table;
    text-align: center;
    font-size: 24px;
    color: #666;
}
.page-load .cell {
    display: table-cell;
    vertical-align: middle;
}
.page-load .cell .num {
    font-size: 32px;
    margin-right: 5px;
}
.ttv {
	width:280px;
	height:280px;
	position:absolute;
	top:120px;
	left:50%;
	margin-left: -140px;
}
.progress {
	width:400px;
	height:auto;
	position:absolute;
	bottom:20%;
	left:50%;
	margin-left: -200px;
	font-size: 32px;
}
.progress em {
	font-style: normal;
}
.font1 {
    width: 400px;
    left: 50%;
    top : 50%;
    margin-top:-130px;
    -webkit-transform: translateX(-50%);
}
.page1 {
    overflow: hidden;
}
.page1 .btn-play{
    width: 288px;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%);
    margin-top:-50px;
}
.page2 {
    background: #000;
}
.video {
    width: 100%;
    object-fit: fill;
}
.jump {
    right: 10px;
    top:20px;
    color: #666;
    display: block;
    width: 50px;
    height: 50px;
    line-height:50px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #666;
    border-radius: 50px;
}
.btn-jump {
    width: 354px;
    left: 50%;
    top : 50%;
    margin-left : -177px;
    margin-top:-60px
}
.tonghao {
    margin-top:20px;
}
.fullscreen {
    background: #333;
    opacity: 0.8;
}
.shareimg {
    width: 250px;
    right: 20px;
    top:10px;
}
.shareimg-zhuan {
    left: 9px;
    /* -webkit-transform: rotateZ(270deg); */
    top: 10px;
}
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animated.infinite {
    animation-iteration-count: infinite;
}

.animated.hinge {
    animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
    animation-duration: .75s;
}
@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}
.zoomIn {
    -webkit-animation-name: zoomIn;
}
@-webkit-keyframes zoomOut {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    to {
        opacity: 0;
    }
}

.zoomOut {
    -webkit-animation-name: zoomOut;
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
}
@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
}